DISCORD_TOKEN=MTIzOTQyOTAzNzkzNjQ3NjE5Mg.G30nj-.PktbtrCIFbFfiDMdqMaSVHtPUz4pLEhOgDRhoM
MONGO_TOKEN=mongodb+srv://sampgamerz:4ROlWPfpzExk45QU@sampgamerz.i9vratk.mongodb.net/?retryWrites=true&w=majority&appName=Sampgamerz
WEBHOOK_ID=1239479116336726046
WEBHOOK_TOKEN=n0RfiSv7xQDpYb1ICrxnq1t-oLUyeLLGNlK81p4fUcTnlijGxEvI5YFCTOD9AzUjEENF
DISCORD_ID=1238766389980958730
OWNER_ID=1108317527806836796
GROQ=

# Not neccessary variables
DISCORD_STATUS="Listening to Samp Gamerz YT" # seprate by comma
RADIO="" # default to https://icecast-qmusicnl-cdp.triple-it.nl/Qmusic_nl_live.mp3
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
LAVALINK_HOST="lava.link"
LAVALINK_PASSWORD="I'm a secret"
LAVALINK_PORT=80
LAVALINK_SECURE=false
